// TODO: fancier button animations, maybe a shine or something?

.button {
    background-color: rgb(240, 240, 240);
    padding: 15px;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
}

.expand {
    width: 100%;
}

.disabled {
    filter: brightness(75%);
    cursor: default;
}