.countdown-container {
    margin-top: 20px;
    text-align: center;
    p {
        font-weight: lighter;
    }
}

.countdown {
    font-size: 60px;
    font-weight: lighter;
}

@media screen and (max-width: 1000px) {
    .countdown-container {
        margin-top: 220px;
    }
  }