.pluggy-boi {
    height: 700px;
    position: absolute;
}

.accordions {
    flex-direction: column;
    width: 600px;
}

.accordion {
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
    .accordions {
      padding: 0 20px 0 20px;
      margin-right: 30px;
    }
}