@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --red: #ED4238;
  --purple: #722d60;
}

* {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

// TODO: simplify the global classes if I don't end up using them
%flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

%container {
  width: 100%;
  padding: 20px 0 20px 0;
}

.flex {
  @extend %flex;
}

.flex-container {
  @extend %flex;
  @extend %container;
}

.card-border {
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 10px 10px var(--red);
}

.top-margin {
  margin-top: 20px;
}

.top-margin-thicc {
  margin-top: 40px;
}

h1 {
  font-size: 40px;
  margin-bottom: 15px;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
}

p {
  font-size: larger;
  margin: 10px 0 10px 0;
}

a {
  color: var(--red);
  font-weight: 500;
}

.text-container {
  width: auto;
  max-width: 650px;
  padding: 10px;
  h1 {
    text-align: left;
  }
}

@media screen and (max-width: 1000px) {
  .mobile-hide {
    display: none;
  }
}

@media screen and (min-width: 1001px) {
  .desktop-hide {
    display: none;
  }

  .hover-grow-large {
    transition: transform .1s;
    &:hover {
      transform: scale(1.5) perspective(1px)
    }
  }

  .hover-grow-small {
    transition: transform .1s;
    &:hover {
      transform: scale(1.05) perspective(1px)
    }
  }

  .hover-brighten {
    &:hover {
        background-color: white;
    }
}

}

.bob-up-down {
  animation: bob-up-down 4s linear infinite;
  position: relative;
}

@keyframes bob-up-down {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
}
