.container {
    margin-top: 30px;
}

.connecty-boi {
    max-width: 80%;
    width: 1000px;
    position: relative;
    left: 180px;
    margin-top: -380px;
}


// TODO: bugfix the pointers! Need a way to include the card-border styling in them too
%bubble-pointer {
    content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
}

.bubble {
    position: relative;
    h2 {
        text-align: center;
    }
    padding: 20px;
    height: 400px;
    margin: 15px;
    width: 320px;
    &--left:after {
        @extend %bubble-pointer;
        border-left: 0;
        margin-left: -25px;
        margin-bottom: -50px;
    }
    &--center:after {
        @extend %bubble-pointer;
        margin-left: -50px;
        margin-bottom: -50px;
    }
    &--right:after {
        @extend %bubble-pointer;
        border-right: 0;
        margin-left: -25px;
        margin-bottom: -50px;
    }
}