%relative-center {
    position: relative;
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.background {
    width: 100%;
    overflow: hidden;
    position: absolute;
    &__sky {
        @extend %relative-center;
        min-width: 1500px;
        z-index: -2;
    }
    &__clouds {
        @extend %relative-center;
        min-width: 1500px;
        z-index: -1;
        top: -450px;
    }
}

.top-content {
    position: relative;
    top: 50px;
    height: 450px;
    &__desktop-container {
        justify-content: space-evenly;
    }
    &__text {
        width: 300px;
        color: white;
    }
    &__desktop-logo {
        height: 400px;
    }
    &__mobile-logo {
        height: 150px;
    }
}

.bottom-content-container {
    position: relative;
    top: 25px;
}

.bottom-content {
    margin-top: 20px;
    text-align: center;
    p {
        font-weight: lighter;
    }
    span {
        font-size: 60px;
        font-weight: lighter;
    }
}