.background {
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 550px;
    background-image: url(../public/images/background.jpg);
    background-repeat: repeat-x;
    background-size: auto 550px;
}

.top-content {
    position: relative;
    top: 50px;
    height: 450px;
    &__desktop-container {
        justify-content: space-evenly;
    }
    &__text {
        width: 300px;
        color: white;
        padding: 0 40px 70px 0;
    }
    &__desktop-logo {
        height: 400px;
    }
    &__mobile-logo {
        height: 150px;
    }
}

@media screen and (max-width: 1000px) {
    .top-content__text {
        padding: 0;
    }
}

.bottom-content-container {
    position: relative;
}

.bottom-content {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    &__countdowns {
        justify-content: space-evenly;
        div {
            margin: 0 20px 20px 20px;
        }
    }
    p {
        font-weight: lighter;
        font-size: x-large;
    }
    &__countdown {
        font-size: 60px;
        font-weight: lighter;
        font-variant-numeric: tabular-nums;
    }
}

@media screen and (max-width: 1000px) {
    .bottom-content__countdown {
        font-size: 40px;
    }
}