%shared {
    max-width: 950px;
    margin: 0 auto;
}

.event-container {
    @extend %shared;
    justify-content: space-between;
    padding: 20px;

    h3 {
        margin-bottom: 3px;
    }

    p {
        width: 50%;
        text-align: right;
        font-size: medium;
        font-weight: 300;
    }

    flex-wrap: nowrap;
    &__left-content{ 
        justify-content: left;
        flex-wrap: nowrap;
    }

    &__type-icon {
        margin-right: 15px;
    }

    &__platform-icon {
        color: rgb(140, 140, 140);
        margin-bottom: -5px;
        margin-right: 2px;
        margin-left: -2px;
    }
}

.hr {
    @extend %shared;
    height: 1px;
    background-color: darkgray;
}

.day-title {
    margin-top: 30px;
    font-size: x-large;
    text-align: center;
    font-weight: 300;
    font-style: italic;
}
